body { background-color: greenyellow }
	h1{ color: #66BFBF }
	h2, h2, h3{ color: red }
	hr { border-style: none;
	     border-top-style: dotted;
         border-color:red;
         border-width: 5%
	}

